<%- include('../includes/header') %>

<main>
	<% if (errors.message) { %>
	 	<div class="alert alert-danger" role="alert">
		  <%= errors.message %>
	    </div>
	<% } %>
	<% if (success.message) { %>
	 	<div class="alert alert-success" role="alert">
		  <%= success.message %>
	    </div>
	<% } %>
    <form action="/login" method="POST" novalidate>
	  <div class="form-group <%= errors.EmailID ? 'form-field-invalid' : '' %>">
	    <label for="email">Email address:</label>
	    <input type="email" class="form-control" id="email" placeholder="Email address" name="EmailID" required value="<%= data.EmailID %>">
	    <% if (errors.EmailID) { %>
	      <div class="error"><%= errors.EmailID.msg %></div>
	    <% } %>
	  </div>
	  <div class="form-group <%= errors.Password ? 'form-field-invalid' : '' %>">
	    <label for="pwd">Password:</label>
	    <input type="password" class="form-control" id="pwd" Placeholder="Password" name="Password" requiredd value="<%= data.Password %>">
	    <% if (errors.Password) { %>
	      <div class="error"><%= errors.Password.msg %></div>
	    <% } %>
	  </div>
	  <button type="submit" class="btn btn-default">Login</button>
	</form>
</main>

<%- include('../includes/footer') %>